<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2020年，博客正式换新了。</p>
        <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
        <p>我是山间木匠，一个仍然在路上，向往自由和梦想的人！</p>

         <p>
          <strong>个人公众号</strong>：<a href="http://www.mtcarpenter.com/assets/images/qrcode.jpg" target="_blank">山间木匠（ID：keeppuresmile）</a>，“分享技术、感悟人生”欢迎关注
        </p>

      

       <p align="center">
         <img src="http://www.mtcarpenter.com/assets/images/wechat.jpg" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>